body{
background-color: black;
}

.imagem{
    height: 20%;
    width: 20%;
    padding-left: 40%;
    padding-top: 10%;
}
h1{
    color: aliceblue;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}